/* All posts page */

#all-posts {
  text-align: center;
}

#posts-list {
  margin: 3rem auto;
  max-width: 40rem;
}

h1 {
  text-align: left;
  margin-bottom: 0.5rem;
}

.post-item {
  margin: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 1rem;
  background-color: rgb(220, 204, 252);
}

.light {
  opacity: 0.55;
}

.post-item h2,
.post-item p {
  margin: 0.5rem 0;
}

.post-item-author {
  font-style: italic;
}

.post-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.post-actions .btn-alt {
  padding: 0;
}

/* Post detail page */

#post-meta {
  color: rgb(156, 149, 149);
}

#post-meta address {
  display: inline;
}

#post-meta time {
  font-style: italic;
}

#body {
  white-space: pre-wrap; /* This ensures that line breaks and whitespace are kept */
}

/* For delete-post */
#confirm-delete {
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 25%;
  width: 50%;
  background-color: aliceblue;
  border-radius: 5px;
}

.btn-delete {
  background-color: rgb(230, 75, 75);
  border: none;
}

.btn-delete:hover {
  background-color: rgb(238, 70, 70);
}

#confirm-delete .btn-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

#backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#comments {
  margin: 2rem 0;
  border-top: 2px solid rgb(204, 204, 204);
  text-align: center;
}

#comments-form,
.comment-item {
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

#comments-form {
  max-width: 30rem;
}

#comments-form h2 {
  margin: 0 0 1rem 0;
}

#comments-form form {
  margin: 2rem 0;
}

.comment-item {
  margin: 1rem auto;
  padding: 0.5rem;
  max-width: 30rem;
}
