<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: 'Lack Privileges!' }) %>
  </head>

  <body>
    <%- include('includes/header') %>
    <main>
      <h1>Oops, that is someone else's post you trying to edit!</h1>
      <p>Don't worry you can still go back and edit the right post! :)</p>
      <a class="btn" href="/">Back To Safety!</a>
    </main>
  </body>
</html>
