<%- include('includes/head.ejs', { title: 'Profile' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>The Profile Page</h1>
    <p>You should only get here, if you're authenticated (logged in).</p>
    <p>So all users can access their own Profiles. Tho to access the admin page, you must be an 'admin'! :)</p>
  </main>
</body>
</html>