* {
  box-sizing: border-box;
}

html {
  --color-gray-50: rgb(219, 236, 209);
  --color-gray-100: rgb(199, 207, 195);
  --color-gray-300: rgb(91, 99, 86);
  --color-gray-400: rgb(65, 70, 60);
  --color-gray-500: rgb(34, 37, 31);
  --color-gray-600: rgb(29, 32, 26);
  --color-gray-700: rgb(25, 31, 22);

  --color-primary-50: rgb(230, 253, 200);
  --color-primary-100: rgb(220, 253, 183);
  --color-primary-200: rgb(195, 252, 130);
  --color-primary-400: rgb(166, 248, 72);
  --color-primary-500: rgb(113, 190, 23);
  --color-primary-700: rgb(103, 177, 19);
  --color-primary-200-contrast: rgb(100, 46, 2);
  --color-primary-500-contrast: rgb(238, 245, 233);

  --color-error-100: rgb(255, 192, 180);
  --color-error-500: rgb(199, 51, 15);

  --color-primary-500-bg: rgb(63, 60, 58);

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --font-weight-extra-light: 400;
  --font-weight-light: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --border-radius-small: 6px;
  --border-radius-medium: 6px;
  --border-radius-large: 8px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);

  font-family: "Montserrat", sans-serif;
  font-weight: var(--font-weight-light);
}

body {
  background-color: var(--color-gray-500);
  color: var(--color-gray-100);
  margin: 0;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary-400);
}

a:hover,
a:active {
  color: var(--color-primary-500);
}

.btn {
  cursor: pointer;
  font: inherit;
  padding: var(--space-2) var(--space-6);
  border-radius: var(--border-radius-medium);
  background-color: var(--color-primary-500);
  color: var(--color-primary-500-contrast);
  border: none;
  font-weight: var(--font-weight-semi-bold);
}

.btn:hover,
.btn:active {
  color: var(--color-primary-500-contrast);
  background-color: var(--color-primary-700);
}
